<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>API Documentation</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="base.css" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html"><%=name%></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="./index.html">Home</a>
              </li>
              <li>
                <a href="./api.html">API Docs</a>
              </li>
              <% for (var key in docs) { %>
              <li>
                <a href="./<%=key%>.html"><%=key%></a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header class="jumbotron subhead">
      <div class="container">
        <h1><%= name %></h1>
        <p class="lead">
          <%= description %>
        </p>
      </div>
    </header>